@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}

body{
    background: rgb(92,92,93);
   height: 100vh;
background: linear-gradient(90deg, rgba(92,92,93,0.26381890646883754) 0%, rgba(0,212,255,0.381465965292367) 100%);

}

.profit-style{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='620' preserveAspectRatio='none' viewBox='0 0 1440 635'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2352%26quot%3b)' fill='none'%3e%3crect width='1440' height='640' x='0' y='0' fill='url(%23SvgjsLinearGradient2353)'%3e%3c/rect%3e%3cpath d='M0 435.84L10 426.52L20 422.22L30 493L40 479.85L50 422.66L60 482.8L70 457.93L80 395.31L90 460.77L100 525.34L110 453.94L120 456.38L130 525.17L140 517.63L150 512.26L160 537.61L170 581.28L180 541.42L190 503.02L200 562.62L210 562.43L220 503.28L230 464.13L240 456.94L250 399.96L260 385.34L270 439.1L280 383.59L290 352.96L300 414L310 358.6L320 411.56L330 395.89L340 362.86L350 355.49L360 315.02L370 339.58L380 403.73L390 378.01L400 347.32L410 414.77L420 436L430 387.56L440 310.96L450 360.15L460 354.55L470 388.5L480 390.8L490 373.41L500 434.94L510 432.63L520 426.99L530 449L540 497.65L550 519.51L560 577.99L570 582.35L580 543.69L590 515.44L600 507.04L610 463.45L620 504.82L630 507.94L640 538.85L650 541.11L660 573.61L670 561.15L680 553.23L690 572.46L700 610.11L710 627L720 607.38L730 537.04L740 479.72L750 545.79L760 567.78L770 631.67L780 613.51L790 608.13L800 594.75L810 629.25L820 577.13L830 552.24L840 507.46L850 468.41L860 542.7L870 585.06L880 528.21L890 458.57L900 394.76L910 400.48L920 325.63L930 348.03L940 326.36L950 287.19L960 266.35L970 232.65L980 203.17L990 256.88L1000 331.19L1010 378.81L1020 430.44L1030 463.47L1040 484.84L1050 478.6L1060 434.54L1070 419.66L1080 365.1L1090 359.71L1100 422.52L1110 456.22L1120 526.81L1130 562.8L1140 564.52L1150 511.31L1160 448.73L1170 419.87L1180 425.54L1190 379.36L1200 348.03L1210 308.53L1220 266.03L1230 305.16L1240 341.47L1250 289.52L1260 266.2L1270 274.11L1280 208.73L1290 129.38L1300 180.34L1310 132.8L1320 182.58L1330 110.84L1340 59.76L1350 112.11L1360 182.63L1370 145.73L1380 76.07L1390 69.62L1400 22.81L1410 40.71L1420 33.98L1430 55.75L1440 0.75' stroke='rgba(8%2c 223%2c 45%2c 0.56)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 435.84L10 426.52L20 422.22L30 493L40 479.85L50 422.66L60 482.8L70 457.93L80 395.31L90 460.77L100 525.34L110 453.94L120 456.38L130 525.17L140 517.63L150 512.26L160 537.61L170 581.28L180 541.42L190 503.02L200 562.62L210 562.43L220 503.28L230 464.13L240 456.94L250 399.96L260 385.34L270 439.1L280 383.59L290 352.96L300 414L310 358.6L320 411.56L330 395.89L340 362.86L350 355.49L360 315.02L370 339.58L380 403.73L390 378.01L400 347.32L410 414.77L420 436L430 387.56L440 310.96L450 360.15L460 354.55L470 388.5L480 390.8L490 373.41L500 434.94L510 432.63L520 426.99L530 449L540 497.65L550 519.51L560 577.99L570 582.35L580 543.69L590 515.44L600 507.04L610 463.45L620 504.82L630 507.94L640 538.85L650 541.11L660 573.61L670 561.15L680 553.23L690 572.46L700 610.11L710 627L720 607.38L730 537.04L740 479.72L750 545.79L760 567.78L770 631.67L780 613.51L790 608.13L800 594.75L810 629.25L820 577.13L830 552.24L840 507.46L850 468.41L860 542.7L870 585.06L880 528.21L890 458.57L900 394.76L910 400.48L920 325.63L930 348.03L940 326.36L950 287.19L960 266.35L970 232.65L980 203.17L990 256.88L1000 331.19L1010 378.81L1020 430.44L1030 463.47L1040 484.84L1050 478.6L1060 434.54L1070 419.66L1080 365.1L1090 359.71L1100 422.52L1110 456.22L1120 526.81L1130 562.8L1140 564.52L1150 511.31L1160 448.73L1170 419.87L1180 425.54L1190 379.36L1200 348.03L1210 308.53L1220 266.03L1230 305.16L1240 341.47L1250 289.52L1260 266.2L1270 274.11L1280 208.73L1290 129.38L1300 180.34L1310 132.8L1320 182.58L1330 110.84L1340 59.76L1350 112.11L1360 182.63L1370 145.73L1380 76.07L1390 69.62L1400 22.81L1410 40.71L1420 33.98L1430 55.75L1440 0.75L1440 635L0 635z' fill='url(%23SvgjsLinearGradient2354)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2352'%3e%3crect width='1440' height='640' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2353'%3e%3cstop stop-color='rgba(0%2c 111%2c 255%2c 0.39)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(66%2c 204%2c 12%2c 0.09)' offset='0'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient2354'%3e%3cstop stop-opacity='0.65' stop-color='rgba(8%2c 223%2c 45%2c 0.56)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(182%2c 252%2c 194%2c 0.56)' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d4e7c9;
    padding-bottom: 3.5rem;
}

.loss-style{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='630' preserveAspectRatio='none' viewBox='0 0 1440 635'%3e%3cg mask='url(%26quot%3b%23SvgjsMask8073%26quot%3b)' fill='none'%3e%3cpath d='M0 40.91L10 81.82L20 135.53L30 208.38L40 266.03L50 263.38L60 339.94L70 279.88L80 353.44L90 290.27L100 302.76L110 269.94L120 322.64L130 283.67L140 322.09L150 250.42L160 198.85L170 237.57L180 205.19L190 252.38L200 183.34L210 233.46L220 210.99L230 176.12L240 244.66L250 280.38L260 269.63L270 291.78L280 362.83L290 286.79L300 230.93L310 288.72L320 350.59L330 306.52L340 308.66L350 256.47L360 290.14L370 353.3L380 285.03L390 320.4L400 348.63L410 384.71L420 313.07L430 339.64L440 417.35L450 351.65L460 417.84L470 434.1L480 418.3L490 380.98L500 307.47L510 233.02L520 285.17L530 271.2L540 281.63L550 337.69L560 328.23L570 331.68L580 265.45L590 312.25L600 235.75L610 282.56L620 304.94L630 234.09L640 187.5L650 261.32L660 239.94L670 241.16L680 170.54L690 168.25L700 205.92L710 226.34L720 302.53L730 238.4L740 281.84L750 310.37L760 380.12L770 344.38L780 402.36L790 389.81L800 412.65L810 379.12L820 404.84L830 439.34L840 437.96L850 497.34L860 533.12L870 486.3L880 495.33L890 501.41L900 469.24L910 443.09L920 385.85L930 338.63L940 321.31L950 248.78L960 189.65L970 126.09L980 192.38L990 167.28L1000 242.88L1010 313.66L1020 330L1030 376.4L1040 413.33L1050 394.42L1060 337.28L1070 375.61L1080 444.59L1090 506.22L1100 453.68L1110 426.84L1120 389.8L1130 361.63L1140 379.11L1150 395.03L1160 463.66L1170 483.6L1180 532.63L1190 538.47L1200 525.57L1210 479.3L1220 433.69L1230 374.43L1240 393.19L1250 461.15L1260 519.9L1270 455.13L1280 395.15L1290 367.17L1300 444.63L1310 494.69L1320 543.04L1330 530.18L1340 554.68L1350 542.87L1360 551.12L1370 548.22L1380 613.03L1390 592L1400 576.01L1410 604.32L1420 534.75L1430 477.63L1440 478.52' stroke='rgba(210%2c 63%2c 49%2c 0.35)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 40.91L10 81.82L20 135.53L30 208.38L40 266.03L50 263.38L60 339.94L70 279.88L80 353.44L90 290.27L100 302.76L110 269.94L120 322.64L130 283.67L140 322.09L150 250.42L160 198.85L170 237.57L180 205.19L190 252.38L200 183.34L210 233.46L220 210.99L230 176.12L240 244.66L250 280.38L260 269.63L270 291.78L280 362.83L290 286.79L300 230.93L310 288.72L320 350.59L330 306.52L340 308.66L350 256.47L360 290.14L370 353.3L380 285.03L390 320.4L400 348.63L410 384.71L420 313.07L430 339.64L440 417.35L450 351.65L460 417.84L470 434.1L480 418.3L490 380.98L500 307.47L510 233.02L520 285.17L530 271.2L540 281.63L550 337.69L560 328.23L570 331.68L580 265.45L590 312.25L600 235.75L610 282.56L620 304.94L630 234.09L640 187.5L650 261.32L660 239.94L670 241.16L680 170.54L690 168.25L700 205.92L710 226.34L720 302.53L730 238.4L740 281.84L750 310.37L760 380.12L770 344.38L780 402.36L790 389.81L800 412.65L810 379.12L820 404.84L830 439.34L840 437.96L850 497.34L860 533.12L870 486.3L880 495.33L890 501.41L900 469.24L910 443.09L920 385.85L930 338.63L940 321.31L950 248.78L960 189.65L970 126.09L980 192.38L990 167.28L1000 242.88L1010 313.66L1020 330L1030 376.4L1040 413.33L1050 394.42L1060 337.28L1070 375.61L1080 444.59L1090 506.22L1100 453.68L1110 426.84L1120 389.8L1130 361.63L1140 379.11L1150 395.03L1160 463.66L1170 483.6L1180 532.63L1190 538.47L1200 525.57L1210 479.3L1220 433.69L1230 374.43L1240 393.19L1250 461.15L1260 519.9L1270 455.13L1280 395.15L1290 367.17L1300 444.63L1310 494.69L1320 543.04L1330 530.18L1340 554.68L1350 542.87L1360 551.12L1370 548.22L1380 613.03L1390 592L1400 576.01L1410 604.32L1420 534.75L1430 477.63L1440 478.52L1440 635L0 635z' fill='url(%23SvgjsLinearGradient8074)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask8073'%3e%3crect width='1440' height='630' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient8074'%3e%3cstop stop-opacity='0.65' stop-color='rgba(210%2c 63%2c 49%2c 0.35)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(251%2c 237%2c 236%2c 0.35)' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-color: #f3e3e3;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3.5rem;
} 



.page-heading{
    text-align: center;
    font-size: 3.3rem;
    padding:4.5rem 0rem 2.5rem 0 ;
}


.user-input-section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
    flex-direction: column;
    width: 100%;
}

.input-with-lable-section{
    display: flex;
    align-items: center;
    text-align: right;
    width: 100%;
}

.lable-name{
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    width: 40%;    
}

.input-value{
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 70%;
   
}

.page-btn{
  display: flex;
  justify-content: center;
}

#tell-me{
    padding: 0.5rem 1rem;
    margin: 2.6rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.result-text{
    display: flex;
}

#output-msg{
    text-align: center;
    font-size: 1.4rem;
    padding:0.75rem;
    background-color: rgb(241, 240, 236);
    margin: auto;
    display: none;
    border: 1px solid black;
    font-weight: bold;
    margin-bottom: 2.5rem;
}


.social-touch{
    position:sticky;
    width: 100%;
    top: 100vh;
}

.icon-style{
    font-size:35px; 
    color: white; 
}

footer{
   display: flex;
   gap: 3rem;
   justify-content: center;
   width: auto;
   padding: 1rem;
   background: rgba(140, 140, 145, 0.719);
   background: linear-gradient(90deg, rgb(116, 116, 117) 0%, rgba(45,45,49,0.9332866935836834) 0%, rgb(179, 181, 182) 100%); 
}


@media screen and (max-width: 500px){
    .input-with-lable-section{
    flex-direction: column;
    margin-bottom: 1rem;
  
    }
    .lable-name{
        text-align: center;
        padding: 0;
    }
    .input-value{   
        margin: auto;
        width: auto;
    }
    #output-msg{
        margin: 0 1.3rem;
    }
}













